<div class="container">
  <div class="row">
    <h1 class="title-main">Add A New Cocktail into the Database</h1>
  </div>
  <hr>
  <div class="row-form"><%= render 'form' %></div>
  </div>
  <hr>
  <div class="row">
    <%= link_to "Back to Listings", cocktails_path, class: "btn-clear" %>
  </div>
</div>


